{% extends 'base.html' %}

{% block title %} {{ tag.name }} {% endblock %}

{% block content %}
    <div class="list">
            <h2>{{ tag.name }}</h2>
            <ul>
                {% for post in tag.posts %}
                <li><a href="/posts/{{ post.id }}"></a></li>
                {% endfor  %}
            </ul>
            <button formaction="/tags/{{ tag.id }}/edit" class="link">Edit</button>
            <button formaction="/tags/{{ tag.id }}/delete" class="delete">Delete</button>
            <!-- What should these buttons do? -->
    </div>
{% endblock %}