{% extends 'base.html' %}

{% block title %}Create New Post{% endblock %}

{% block content %}
    <h2>Add Post for {{ user.first_name }} {{ user.last_name }}</h2>
    <form action="/users/{{ user.id }}/posts/new" method="post">
        <label for="title">Title </label> <input type="text" name="title" id="title" required autofocus>
        <label for="content">Content </label> <textarea name="content" id="content" maxlength="200" size="" required></textarea>
        <div class="tag-checkbox">
            {% for tag in tags %}
            <input type="checkbox" name="tags" id="tag_{{tag.id}}" value="{{tag.name}}"> <label for="tag_{{tag.id}}">{{tag.name}}</label>
            {% endfor %}
        </div>
       
        <button class="cancel" formaction="/users/{{ user.id }}/posts">Cancel</button>
        <button class="submit" type="submit">Add</button>
        <!-- Do I need to add formaction to the button above? -->
    </form>
    
{% endblock %}