{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <h2>Edit Post</h2>

    <form action="/posts/{{post.id}}/edit" method="post">
        <label for="title">Title </label> <input type="text" name="title" placeholder="First Post!">
        <label for="content">Post Content </label> <textarea name="content">{{ post.content }}</textarea>
        
        <button formaction="/users/{{post.user_id}}" class="cancel" id="cancel">Cancel</button>
        <button class="submit" type="submit" id="save">Save</button>
    </form>
    
{% endblock %}