{% extends 'base.html' %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %}

{% block content %}
{% if user.image_url %}
<div>
    <img src="{{user.image_url}}" alt="{{user.first_name}}'s profile pic">
</div>
{% else %}
<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOSa_h6nw2vTXwSh39ini4y14w5NJEhPLRDg&usqp=CAU" alt="No Profile Pic Yet!">
</div>
{% endif %}
<div>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <form>
        <button formaction="/users/{{ user.id }}/edit" formmethod="get" class="edit">Edit</button>
        <button formaction="/users/{{ user.id }}/delete" formmethod="post" class="delete">Delete</button>
    </form>    
</div>   
<div>
    <h3>Posts</h3>
    <ul>
        {% for post in user.posts %}
        <li>
            <a href="/posts/{{ post.id }}">{{ post.title }}</a>
            <small>{{ post.readable_date }}</small>
        </li>
        {% endfor %}
    </ul>
    <form action="get">
        <button formaction="/users/{{ user.id }}/posts/new" formmethod="get" class="submit">Add Post</button>
    </form>
    
</div>
{% endblock %}